*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: white;

    font-family: sans-serif;

}
header{
    background:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 6em;
    border-bottom: 0.5px solid rgba(97, 95, 95, 0.5);
}

header .left-side{
 
}
header .right-side{ 
    display: flex;
}
header .right-side .parent-ul{
    list-style: none;
    display: flex;
    align-items: center;
}
header .right-side .parent-li{
    display: inline-block;
    color: #666;
    cursor: pointer;
    margin: 0em 1em;
    transition: 0.3s ease;
    /* position: relative; */
}

header .right-side li:hover{
    color: black;
}
header .right-side button{
    border: none;
    background-color: white;
    padding: 0.7em 2em;
    border-radius: 2em;
    border:0.1em solid #80808036 ;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

header .right-side button:hover{
    border-color: transparent;
    box-shadow: 2px 8px 78px -13px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 8px 78px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 8px 78px -13px rgba(0,0,0,0.75);
}

header .left-side img{
    width: 3em;
}
header .right-side li ul{
    position: absolute;
    top: 69px;
    left: 0;
    background: red;
}